html,
body {
  margin: 0;
  width: 100%;
}
#root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 16px;
}

.green {
  background-color: #a2ff3a;
  opacity: 0.4;
}

.yellow {
  background-color: #fceb56;
  opacity: 0.6;
}
